@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
/* Reset styles for better consistency */
body, h2, p, form, label, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8eaf1;
  margin: 0;
}

.signup-container {
  width: 50%;
  padding: 40px;
  background-color: rgb(251, 253, 253);
  color: black;
  border-radius: 8px;
}

.signup-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.signup-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black; 
}

.signup-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.login-container {
  width: 50%;
  padding: 40px;
  background-color: rgb(251, 253, 253);
  color: black;
  border-radius: 8px;
}

.login-container h2{
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.login-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black; 
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}